body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: rgb(255, 0, 0);
    font-size: 60px;
    text-align: center;
}

p {
    color: rgb(255, 0, 0);
    font-size: 30px;
    text-align: center;
}

img {
    width: 20%;
    margin-left: 750px;
    border: 10px double red;
}



.imghtml {
    width: 10%;
    margin-left: 350px;
    border: skyblue solid
}

li {
    color:red;
}

button {
    background-color: crimson;
    margin-left: 450px;
}

.img_cabecalho{
    height: 100px;
    width: 100px;
    transition: 0.3s;
    margin-left: 10px;
}

.img_cabecalho:hover{
    opacity: 0.8;
}

header{
    display: flex;
    background-color: rgb(0, 83, 4);
    padding: 10px;
}